/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/

# IDE Files
.idea/
/.buildpath
/.project

# GULP
/node_modules

# Minified Files
/web/dist/*/*.min.*
